<body>
<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>

    <div class="row1 row">
        <div class="col-lg-4">
            <i class="fas fa-shipping-fast fa-bounce"></i>
            <b><h2>Free Shipping and Returns</h2></b>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-lock fa-shake"></i>
            <b><h2>Secured Payments</h2></b>
        </div>
        <div class="col-lg-4">
            <i class="fas fa-umbrella fa-beat"></i>
            <b><h2>Customer Service</h2></b>
        </div>
    </div>
</div>



<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_60 t_color f_size_18">Get in Touch</h3>
                        <p>Don’t miss any updates on our new coming merchandise. </p>
                        <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                            <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                            <a routerLink="swiper"><button class="btn btn_get btn_get_two" type="submit">Subscribe</button></a>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </form>
                    </div>
                </div>
               <div class="col-lg-1"></div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_60 t_color f_size_18">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a routerLink="admindashboard" href="#" class="fab fa-facebook"></a>&nbsp;
                            <a routerLink="login&signup" href="#" class="fab fa-twitter"></a>&nbsp;
                            <a href="#" class="fab fa-linkedin"></a>&nbsp;
                            <a href="#" class="fab fa-pinterest"></a>&nbsp;
                            <a href="#" class="fab fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_60 t_color f_size_18">Help</h3>
                        <ul class="list-unstyled f_list">
                            <li><a routerLink="faq">FAQ</a></li>
                            <li><a href="#">Term &amp; conditions</a></li>
                            <li><a href="#">Free product</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">News & Blogs</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
              
              
            </div>
        </div>
        <!-- <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div> -->
    </div>
    <div class="footer_bottom">
        <div class="container">
            
               
                    <p style="text-align: center;" class="mb-0 f_400">© FAMBRUH Inc.. 2024 All rights reserved.</p>
                    
           
        </div>
    </div>
</footer>
</body>