<app-navbar></app-navbar>
<div class="container-fluid">
  <div style="padding-top: 100px;" class="card-columns">
    <div class="card" *ngFor="let blog of blogs">
      <a [routerLink]="['/blog', blog.id]"> <!-- Pass blog id as a parameter -->
        <img class="card-img-top" [src]="blog.img" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">
            {{blog.contentshort}}...
          </p>
          <p class="card-text blog-details">
            <small class="text-muted">
              <i class="fas fa-eye"></i>{{blog.viewCount}}
              <i class="far fa-user"></i>{{blog.author}}
              <i class="fas fa-calendar-alt" style="margin-left: 5px;"></i>{{ formatDate(blog.postDate) }}
            </small>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

