
* {
	box-sizing: border-box;
}


body{
    background-color: #000000;
   height: 100vh;

}
section{
    color: #FFFFFF;
}

.order-detail {

	background: transparent;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	vertical-align: top;
	width: 100%;
	&--wrapper {
		background-color: inherit;
		display: inline-block;
		padding: 32px 32px 32px 32px;
		margin: 0 320px 0 0;
		position: static;
		vertical-align: top;
		width: auto;
	}
	&--head,
	&--body {
		margin: 0 0 0 0;
		padding: 0 0 0 0;

	}
	&--head {
		position: relative;
	}
	&--title {
		display: inline-block;
		float: left;
		font-family: 'United Sans Condensed';
		font-size: 36px;
		min-height: 40px;
		margin: 0 0 0 0;
		padding: 0 0 12px 0;
		text-transform: uppercase;
        color: #e2c707;
	}
	&__legend {
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0 0 12px 0;
		position: absolute;
		right: 0;
		width: 50%;
		&--action {
			display: none;
		}
		&--item {
			display: block;
			min-height: 40px;
			float: left;
			font-size: 16px;
			line-height: 2.5;
			min-width: 50%;
			padding: 0 8px;
			text-align: center;
			width: auto;
		}
	}
}

.cart-items {
    height: 70vh; /* Set height to 100% of viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Set width to 100% */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
	-ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.cart-items::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}


.cart-item {
	height: auto;
	padding: 0 0 16px 0;
	margin: 0;
	position: relative;
	vertical-align: top;
	&--shopping-cart {
		border-bottom: 1px solid currentColor;
		padding: 16px 0 16px 0;
		&:first-child {
			border-top: 1px solid currentColor;
		}
		.cart-item {
			&--details {
				float: left;
				width: 50%;
			}
			&--values {
				clear: none;
			}
			&--price {
				display: inline-block;
				float: right;
				font-size: 24px;
				padding: 8px 8px 8px 8px;
				width: 50%;
				font-weight: bold;
				text-align: center;
			}
		}
	}
	&--wrapper {
		clear: both;
		display: block;
		height: auto;
		min-height: 100%;
		position: relative;
	}
	&--details {
		display: block;
		font-size: 16px;
		height: inherit;
		position: relative;
		margin: 0 auto 0 0;
		width: 100%;
		zoom: 1;
		&::before,
		&::after {
		  clear: both;
		  content: "";
		  display: table;
		} 
		&::after {
		  clear: both;
		}
	}
	&--title {
		display: block;
		font-family: 'United Sans Condensed';
		font-size: 24px;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	&--number {
		color: #888888;
		font-size: 14px;
		margin: 4px 0 0 0;
	}
	&--detail {
		clear: both;
		padding: 0 0 0 0;
		position: relative;
		margin: 0 0 8px 0;
	}
	&--link {
		color: inherit;
		cursor: pointer;
		display: inline-block;
		float: left;
		text-decoration: none;
		width: auto;
		&:hover,
		&:focus,
		&:active {
			color: inherit;
			text-decoration: none;
		}
	}
	&--image-link {
		left: 0;
		float: none;
		position: absolute;
	}
	&--text-link {
		cursor: pointer;
		margin: 0 8px 8px 0;
	}
	&--image {
		display: inline-block;
		height: auto;
		margin: 0;
		padding: 0;
		position: relative;
		width: auto;
		img {
			background: #F8F8F8;
			display: inline;
			max-width: 120px;
			max-height: 120px;
		}
	}
	&--description {
		display: block;
		margin: 0 0 0 128px;
		min-height: 120px;
		padding: 8px 8px 8px 8px;
		width: auto;
	}
	&--values {
		bottom: 16px;
		clear: both;
		display: inline-block;
		float: right;
		padding: 0;
		width: 50%;
	}
	&--price {
		display: inline-block;
		float: right;
		font-size: 18px;
		padding: 0 0 0 0;
		width: auto;
		font-weight: bold;
		text-align: right;
	}
	&--quantity {
		display: inline-block;
		float: left;
		padding: 8px 16px 8px 16px;
		text-align: center;
		width: 50%;
		&-count {
			background-color: #222222;
			border-radius: 50%;
			color: #FFFFFF;
			display: block;
			font-size: 14px;
			height: 32px;
			line-height: 1.25;
			padding: 8px 5px 8px 3px;
			position: absolute;
			right: -12px;
			text-align: center;
			top: -8px;
			width: 32px;
		}
		&-form {
			position: relative;
			vertical-align: top;
		}
		&-label {
			color: transparent;
			font-size: 1px;
			margin: 0;
			padding: 0;
			position: absolute;
			height: 0;
		}
		&-input {
			border: 2px solid #CCCCCC;
			height: 40px;
			margin: 0 0 4px 0;
			text-align: center;
			width: 100%;
		}
		&-update {
			background-color: #222222;
			border: 0;
			border-radius: 4px;
			color: #FFFFFF;
			height: 40px;
			margin: 4px 0 0 0;
			text-align: center;
			width: 100%;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&--submit {
		white-space: nowrap;
	}
	&--remove {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid gray;
		color: gray;
		cursor: pointer;
		display: inline;
		font-size: 12px;
		height: 16px;
		line-height: 0;
		padding: 0;
		width: auto;
	}
}
.cart-summary {
	background-color: rgba(255, 255, 255, 0.3); /* 50% opacity white */
	bottom: 0;
	display: inline-block;
	margin: 0 0 0 0;
	max-width: 320px;
	padding: 84px 16px 32px 16px;
	position: absolute;
	right: 0;
    height: 85vh;
	top: 0;
	text-align: center;
	width: auto;
	&--title {
		border-bottom: 1px solid currentColor;
		border-top: 1px solid currentColor;
		display: inline-block;
		font-family: 'United Sans Condensed';
		margin: 0;
		padding: 12px 0;
		text-align: left;
		width: 100%;
	}
	table {
		border: none;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		table-layout: fill;
		width: 100%;
		tbody {
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
		}
		tfoot {
			border-top: 1px solid currentColor;
			border-bottom: 1px solid currentColor;
			td {
				vertical-align: top;
			}
			div {
				border-top: 1px solid currentColor;
				padding: 16px 0 8px 0;
			}
		}
		td {
			padding: 6px 0 0 0;
			&:first-child {
				color: currentColor;
				text-align: left;
			}
			&:last-child {
				color: #666666;
				text-align: right;
				padding: 6px 0 6px 0;
			}
		}
	}
	&--table-total {
		color: #000000;
		display: block;
		font-size: 24px;
		line-height: 1;
		width: 100%;
	}
	&--table-currency {
		color: #666666;
	}
	&--promo-code {
		background-color: #CCCCCC;
		height: 92px;
		margin: 16px 0;
		padding: 12px 16px;
		width: 100%;
	}
	&--promo-code-wrapper {
		width: 100%;
	}
	&--promo-code-label {
		display: block;
		font-weight: 400;
		font-size: 14px;
		padding: 2px 0;
		text-align: left;
	}
	&--promo-code-input {
		border: 0;
		color: currentColor;
		height: 32px;
		float: left;
		padding: 2px 10px;
		width: 66.666%;
		&::placeholder {
			color: #888888;
		}
	}
	&--promo-code-submit {
		background-color: #222222;
		border: 0;
		border-radius: 0 2px 2px 0;
		color: #FFFFFF;
		height: 32px;
		letter-spacing: 0.25px;
		float: right;
		font-size: 12px;
		text-transform: uppercase;
		width: 33.333%;
		&:hover {
			color: #FFFFFF;
			opacity: 0.7;
		}
	}
	&--order-actions {
		min-height: 140px;
	}
	&--order-action {
		background-color: #000000;
		color: #FFFFFF;
		display: block;
		font-size: 16px;
		height: 44px;
		line-height: 1.875;
		margin: 0 0 10px 0;
		text-decoration: none;
		&:hover {
			color: #FFFFFF;
			opacity: .7;
		}
	}
}

@media all and (max-width: 920px) {
	.order-detail {
		&--wrapper {
			display: block;
			min-width: 100%;
		}
		&--body-mobile-reversed {
			direction: rtl;
		}		
		&--body-mobile-reversed,
		&--body-mobile-reversed > * {
			transform: scaley(-1);
		}	
	}
	.cart-items,
	.cart-summary {
		display: inline-block;
		direction: ltr;
	}
	.cart-summary {
		display: block;
		min-width: 100%;
		padding: 32px 16px 32px 16px;
		position: inherit;
	}
}
@media all and (max-width: 640px) {
	.order-detail {
		&--wrapper {
			padding: 0 0 0 0;
		}
		&--title {
			background-color: #F8F8F8;
			line-height: 1;
			padding: 16px 0 0 0;
			text-align: center;
			width: 100%;
			vertical-align: middle;
		}
		&__legend {
			background-color: #F8F8F8;
			clear: both;
			float: none;
			padding: 16px 12px 16px 12px;
			position: relative;
			width: 100%;
			&--action {
				background-color: #222222;
				color: #FFFFFF;
				display: block;
				font-size: 16px;
				height: 44px;
				line-height: 1.875;
				width: 100%;
				&:hover {
					color: #FFFFFF;
					opacity: 0.7;
				}
			}
			&--item {
				display: none;
			}
		}
	}
	.cart-item {
		&--shopping-cart {
			&:last-child {
				border-bottom: none;
			}
			.cart-item {
				&--details {
					float: none;
					width: 100%;
				}
				&--values {
					clear: both;
					float: none;
					padding: 8px 0 8px 0;
					position: relative;
					top: 16px;
					width: 100%;
				}
				&--quantity {
					max-width: 120px;
					min-height: 96px;
					padding: 0;
				}
				&--price {
					bottom: 0;
					min-height: auto;
					padding: 8px 8px 8px 8px;
					position: absolute;
					right: 0;
					text-align: right;
					vertical-align: bottom;
				}
			}
		}
	}
	.cart-summary {
		background-color: #FFFFFF;
		padding: 0 0 32px 0;
		table {
			margin: 8px 0 0 0;
		}
		&--fields {
			background-color: #F8F8F8;
			padding: 4px 16px 4px 16px;
		}
	}
}
@media all and (min-width: 640px) and (max-width: 920px) {
	.order-detail {
		&--wrapper {
			padding: 32px 0 0 0;
		}
	}
	.cart-summary {
		display: block;
		min-width: 100%;
		vertical-align: top;
		table {
			border-collapse: collapse;
			table-layout: fixed;
		}
		&--fields {
		}
		&--promo-code {
			margin: 16px 0 16px 0;
		}
	}
}
