<div class="container">
  <div class="row">
    <div class="col-md-9">
      <a routerLink="/blogform" class="btn btn-primary mb-3">Add Blog</a>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>#</th> <!-- New column for numbering -->
            <th>Title</th>
            <th>Author</th>
            <th>Post Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogs; let i = index">
            <td>{{ i + 1 }}</td> <!-- Displaying index + 1 to start from 1 instead of 0 -->
            <td>{{ blog.title }}</td>
            <td>{{ blog.author }}</td>
            <td>{{ blog.postDate | date }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteBlog(blog.id)">Delete</button>
              <button class="btn btn-primary" (click)="updateBlog(blog.id)">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Number of Blogs Posted</h5>
          <p class="card-text">{{ blogs.length }}</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Total Views</h5>
          <p class="card-text">Total views count here</p>
        </div>
      </div>
    </div>
  </div>
</div>
