




<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
</head>
<body>
    


	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
					
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">


                         
                         
                         
                            <div class="card-front" >
                                <form  #password="ngForm" (ngSubmit)="resetPassword()">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Set Password</h4>
                                    
                                    
                                        <div class="form-group">
                                            <input type="{{ showPassword ? 'text' : 'password' }}" name="newPassword" #username="ngModel" 
                                            class="form-style" placeholder="New Password" id="newPassword" 
                                            autocomplete="off"
                                            [(ngModel)]="newPassword" required ngModel>
                                            <i class="input-icon uil uil-lock-alt" (click)="togglePasswordVisibility()"></i>
                                            <span *ngIf="password.invalid && password.touched" 
                                            style="color:red">Please enter a valid
                                                username.</span>
                                        </div>	
                                     
                                     
                                        <div class="form-group mt-2">
                                            <input type="password" name="confirmNewPassword" class="form-style"  
                                            #password="ngModel" minlength="6"
                                            placeholder="Repeat Password" id="confirmNewPassword" autocomplete="off"
                                            [(ngModel)]="confirmNewPassword" required ngModel>
                                            <i class="input-icon uil uil-lock-alt"></i>
                                           
                                                <span *ngIf="newPassword !== confirmNewPassword && password.touched" style="color: red">
                                                  Passwords do not match.
                                              </span>
                                        </div>


                                         <br>
                                        <input type="submit" value="Submit" [disabled]="password.invalid" 
                                        class="btn btn-primary btn-block">
                                     

                                      </div>
                                </div>
                            </form></div>


                          
                          
                          
                        


                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>

</body>

