/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
  }
  
  @font-face {
    font-family: Tourner;
    src: url('./assets/fonts/Tourner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: open24;
    src: url('./assets/fonts/open24.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  