<div class="container">
    <div class="row">
        <div class="col-md-10">
            
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ user.userId }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteUser(user.userId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Number of Users</h5>
                    <p class="card-text">{{ users.length }}</p>
                </div>
            </div>
            <!-- You can add more card sections for additional statistics if needed -->
        </div>
    </div>
</div>
